<h2>What people thought about that booking</h2>

<div class='reviews' >
  <% @reviews.each do |review| %>
    <div class= 'user_fullname'>
      <strong><%= review.booking.user.first_name + ' ' + review.booking.user.last_name %></strong>
    </div>
    <div class="stars">
      <%= "#{review.star}/5"  %>
    </div>
    <div class='review_content'>
      <%= review.content %>
    </div>
  <% end %>
</div>
