<div class='container flexbox'>

<!-- colonne de gauche 25% -->
  <div class="container-user-info">
    <div class="profile-pic"></div>
    <div class="verified-info"></div>
  </div>

<!-- colonne de droite 75% -->
  <div class="container-bookings">
    <div class="phones-inventory">
      <div class="card-header"></div>
      <div class="your-phones"></div>
    </div>

    <div class="lending-history">
      <div class="card-header"></div>
      <div class="lending-bookings"></div>
    </div>

    <div class="renting-history">
      <div class="card-header"></div>
      <div class="renting-bookings"></div>
    </div>



</div>
