.btn-form {
  background-color: #2ed3b5;
  color: white;
  margin: 10px;
  font-family: "Text Me One";
  font-size: 22px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-form:hover {
  background-color: #29c6aa;
  color: white;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  text-align: center;
}

.btn-book {
  font-family: "Text Me One";
  background-color: #F4F4F4;
  color: #2ed3b5;
  font-size: 22px;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-book:hover {
  color: #56B4D3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-delete {
  background-color: #fe5f55;
}

.btn-delete:hover {
  background-color: #f4453f;
}
