// Card de l'index
.card-index-layout {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.cards-section {
  flex-grow: 1;
}

.cards-title {
  padding: 10px;
}

.cards-container {
  display: flex;
  flex: 0 0 67%;
}

.flex-item {
  display: flex;
}

.card {
  flex: 1 1 15%;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  background-size: cover !important;
}

.card-body {
  height: 180px;
  background-size: cover;
  color: white;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.card-category {
  position: absolute;
  top: -30px;
  left: 3px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.9;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

// Card de la show mobile
.card-mobile {
  height: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border: 1px solid blue;
  padding: 15px;
  margin: 15px;
}

.fa:hover {
  color: rgb(41, 198, 170);
}

a:hover {
  color: rgb(41, 198, 170);
}
