// Card de l'index
.card-index-layout {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.cards-section {
  flex-grow: 1;
}

.cards-title {
  padding: 10px;
}

.cards-container {
  display: flex;
  flex: 0 0 67%;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
}

.card {
  flex: 0 1 30%;
  margin: 30px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  background-size: cover !important;
}

.card-body {
  height: 290px;
  background-size: cover;
  color: white;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.card-category {
  position: absolute;
  top: -30px;
  left: 3px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.9;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.fa:hover {
  color: rgb(41, 198, 170);
}

a:hover {
  color: rgb(41, 198, 170);
}

.owner{
    position: relative;
    bottom: 10px;
    left: 10px;
    color: gray;
    font-size: 14px;
}



.card-jj{
  // background: white;
  padding: 3px 3px;
  position: relative;
  border-radius: 5px;
  min-height: 300px;
  padding: 5px 15px;
.h3{
    font-size: 14px !important;
    color:#2ed3b5 !important;
  }
.h2 {
  font-size: 18px !important;
    color:#2ed3b5 !important;
}

}



.white-thumb{
      background: white !important;
      padding: 10px 10px;
      min-height: 310px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    }
  .card-title-jj{
  min-height: 25px;

  }

.card-title-owner-jj{
  font-size: 12px;
  align: right;
  padding-top:5px;
}

  // .card-price-jj{
  // position: absolute;
  // bottom: 5px;
  // }

 .card-content-jj{
  font-size: 11px;
  }

  .card-link-jj{
    position:absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
  }
.the-map{

}

.card-green-title{
  color:#2ed3b5 !important
}

.hp-listing {
  padding: 20px 20px;
}

hr{
border-top: 1px solid #d5d5d5;
}
