#flex-container-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  // margin-top: 20px;
  min-height: calc(100vh - 20px);
}

#flex-container-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  // margin-top: 20px;
  min-height: calc(100vh - 70px);
}

label {
  font-weight: lighter;
}

.registration-box {
  background-color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.btn-form {
  background-color: #2ed3b5;
  color: white;
  margin: 10px;
}

.btn-form:hover {
  background-color: #29c6aa;
  color: white;
  margin: 10px;
}

a {
  text-align: text-center;
  color: #2ed3b5;
}

.form-control:focus {
  border-color: #2ed3b5;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
