/* TODO: design your flexbox layout with a sticky map */

/* We just give you a Gmaps with random width/height */
.map-container {
  flex: 0 0 33%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}
