/* TODO: design your flexbox layout with a sticky map */

/* We just give you a Gmaps with random width/height */
.map-container {
  flex: 0 0 33%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

.map-container-show {
  flex: 0 0 30%;
  width: 100vw;
  height: 70vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 15px;
  border-radius: 5px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
