.flexbox {
  display: flex;
  flex-direction: row;
}

.item-1{
  width: 50%

}

.item-2 {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.mobile-user {
margin-bottom: 30px;
}

.mobile-booking .btn {
  display: inline-block;
}

.antinavbar {
  padding-top: 70px;
}
