.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.mobile-global {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 30px;
}

.mobile-global h2 {
  background-size: 24px;
}

.mobile-details{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-name {
  padding: 10px;
}

.booking-details {
  justify-content: center;
  align-items: center;
}

.mobile-user {
  margin-bottom: 30px;
}

.mobile-booking {
  background-color: #2ed3b5;
  border-radius: 10px;
  padding: 20px;
}

.mobile-booking .btn {
  display: inline-block;
  background-color: #F4F4F4;
  color: #2ed3b5;
}

.mobile-booking h3 {
  font-weight: normal;
}
.mobile-booking h2 {
  font-weight: normal;
  font-size: 24px;
}

.antinavbar {
  padding-top: 70px;
}

.mobile-infos {
}

// Card de la show mobile
.mobile-pic {
  flex-grow: 1;
  // height: 500px;
  background-size: cover !important;
  background-position: center;
  width: 100%;
}

.price-booking {
  background-color:  #F4F4F4;
  color: #2ed3b5;
  border-radius: 5px;
}
