.container-dashboard {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 10px;
  margin: 30px;
}

.dashboard-name {
  padding: 10px;
}

.container-user-info {
  background: #2ed3b5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56B4D3, #2ed3b5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56B4D3, #2ed3b5);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  height: 500px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-bookings {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
}

.dashboard-section {
  padding: 20px;
}

.dashboard-section-line {
  padding: 10px;
  display: flex;
  /* flex-flow: row nowrap; */
  justify-content: space-around;
  align-items: center;
}

.dashboard-section-pic {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.dashboard-header {
  border-radius: 8% 92% 94% 6% / 30% 85% 15% 70%;
  padding-left: 30px;
  color: #32B796;
  border-bottom: 2px solid #32B796;
}

.dashboard-phone-img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.profile-pic {
  padding-bottom: 30px;
}

.profile-pic img {
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.history-lend {

}

.dashboard-av {
  width: 50px;
}

.dashboard-av-m {
  width: 100px;
}

.dashboard-hist-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

.dashboard-hist-dates {
  display: flex;
  flex-direction: column;
}

// ----

.dashboard-section:last-child {
  border-bottom: none;
}
.dashboard-section-body {
  flex-grow: 1;
}
.dashboard-section-brand {
  padding-left: 10px;
  min-width: 100px;
}
.dashboard-section-brand h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.dashboard-section-brand p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.dashboard-section-price {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.dashboard-section-price {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.dashboard-section-price strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.dashboard-section-price p {
  margin: 6px 0;
}
.dashboard-section-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
